@import 'variables';
@import 'functions';

$calendar-width: calendar-week-width($day-size, $day-gap);

@import 'calendar';

:root {
  font-family: $font-family;
}

body {
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
