$font-family: Arial;
$days: 31;
$day-bg-color: #eee;
$day-bg-color-hover: #f1e5e7;
$day-font-size: 30px;
$day-border: 1px solid black;
$day-gap: 1px;
$days-in-week: 7;
$day-size: 100px;
$day-transition-time: 500ms;
$min-days: 28;
$max-days: 31;
$calendar-1st-row: (
  mon: 7,
  tue: 6,
  wed: 5,
  thu: 4,
  fri: 3,
  sat: 2,
  sun: 1,
);
